isort==8.0.1
numpy==2.4.4
pandas==2.3.3
pre_commit==4.6.0
pydantic==2.13.3
pydantic_core==2.46.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
PyYAML==6.0.3
requests==2.33.1
ruff==0.15.12
scikit-learn==1.7.2
snowflake-connector-python==4.4.0
snowflake-ml-python==1.41.0
snowflake-snowpark-python==1.50.0
snowflake-telemetry-python==0.8.0
sqlparse==0.5.5
xgboost==2.1.4
